<h1 class="text-center mb-4">Sign Up</h1>

<form action="" method="post">
    <div class="form-label-group mb-3">
        <input type="text" name="fullname" class="form-control" placeholder="Full Name" required>
    </div>
    <div class="form-label-group mb-3">
        <input type="text" name="username" class="form-control" placeholder="Username" required>
    </div>
    <div class="form-label-group mb-3">
        <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
</form>
